<div style="display: flex; justify-content: center; align-items: center; height:70vh;">

  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" style="width: 500px; background-color: #fafafa; border: 1px solid #ddd; box-shadow: 0px 0px 10px #aaa; padding: 20px; margin:20px;" >
 <span style="display: block; text-align: center; font-family: 'Courier New', Courier, monospace; font-size: x-large;">Register</span>
  <div class="form-group mt-5">
    <label for="namesurname">Name & Surname</label>
    <input formControlName="nameSurname" id="namesurname" class="form-control" placeholder="name & surname" [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}">
     <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && component.nameSurname.errors?.required">İsim soyisim alanı boş geçilemez!</small>
     <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && (component.nameSurname.errors?.minlength || component.nameSurname.errors.maxlength)">Lütfen ad soyadı 3 ile 50 karakter arası giriniz!</small>
    </div>
  <div class="form-group mt-3">
    <label for="username">Username</label>
    <input formControlName="username" id="username" type="email" class="form-control" placeholder="username" [ngClass]="{'is-invalid': submitted && component.username.errors}">
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && component.username.errors?.required">Kullanıcı adı alanı boş geçilemez!</small>
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && (component.username.errors?.minlength || component.username.errors.maxlength)">Lütfen kullanıcı adınızı 3 ile 50 karakter arası giriniz!</small>
  </div>
  <div class="form-group mt-3">
    <label for="email">Email address</label>
    <input formControlName="email" id="email" type="email" class="form-control" placeholder="enter email" [ngClass]="{'is-invalid': submitted && component.email.errors}" >
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && component.email.errors?.required">Email alanı boş geçilemez!</small>
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && (component.email.errors?.minlength || component.email.errors.maxlength)">Lütfen emaili 3 ile 50 karakter arası giriniz!</small>
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && component.email.errors?.email">Lütfen geçerli bir email adresi giriniz!</small>

  </div>
  <div class="form-group mt-3 mb-3">
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password" class="form-control"  placeholder="password" [ngClass]="{'is-invalid': submitted && component.password.errors}">
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && component.password.errors?.required">Şifre alanı boş geçilemez!</small>
    <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && (component.password.errors?.minlength || component.password.errors.maxlength)">Lütfen şifrenizi 3 ile 50 karakter arası giriniz!</small>
  </div>
  <div class="form-group mt-3 mb-3">
    <label for="password">Confirm Password</label>
    <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control"  placeholder="confirm password" [ngClass]="{'is-invalid': submitted && component.confirmPassword.errors}">
     <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && component.confirmPassword.errors?.required">Şifre tekrar alanı boş geçilemez!</small>
   <!-- <small class="form-text invalid-feedback" style="color: red;" *ngIf="submitted && (component.confirmPassword.errors.minlength || component.confirmPassword.errors.maxlength)">Lütfen şifrenizi 3 ile 50 karakter arası giriniz!</small> -->
    <small  style="color: red;" *ngIf="submitted && form.hasError('notSame')">Şifreler eşleşmiyor!</small>

  </div>
  <div style="display: flex; justify-content: center;" class="mt-4">
  <button type="submit" class="btn btn-primary ">Kayıt Ol</button></div>
</form>
  </div>
</div>
