<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col"></div>
    <div class="col-xl-10">
      <div class="card" style="width: 18rem; float: left; margin-top: 15px; margin-right: 15px;" *ngFor="let product of products">
        <img style="width: 260px; height: 250px;" class="card-img-top" *ngIf="!product.productImageFiles.length" src="../../../../../assets/box.jpg" alt="Card image cap">
        <img style="width: 260px; height: 250px;" class="card-img-top" *ngIf="product.productImageFiles.length" src="{{baseUrl.url }}/{{product.imagePath}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{product.name}}</h4>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.price | currency:'₺'}}</p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>

    <div class="col"></div>
  </div>


<div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link">{{currentPageNo}}/{{totalPageCount}}</a></li>

      <li class="page-item"><a class="page-link" [routerLink]="['/products',currentPageNo-1 <=0 ? 1 : currentPageNo-1]">Geri</a></li>
      <li class="page-item" *ngFor="let pageNo of pageList"><a class="page-link" [routerLink]="['/products',pageNo]" routerLinkActive="active">{{pageNo}}</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/products',currentPageNo+1 >=totalPageCount ? totalPageCount : currentPageNo+1]">İleri</a></li>
    </ul>
  </nav>
</div>
