<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col"></div>
    <div class="col-xl-10">
      <nav class="navbar navbar-expand-lg bg-light ml-auto, mb-lg-0, me-2 p-4">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">TİCARET</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" routerLink="" aria-current="page"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="products"
                  >Products</a
                >
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="baskets"
                  >Basket</a
                >
              </li> -->

              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="admin"
                  *ngIf="checkAuthService.isAuthenticated"
                  >Admin</a>
              </li>
            </ul>

                <span class="nav-link justify-content-end  mr-sm-2 m-2" style="display: flex;">
                  <a
                  class="nav-link active"
                  aria-current="page"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="loadComponent()"
                  style="cursor: pointer;"
                  >Basket</a>
                </span>


                <span class="nav-link justify-content-end  mr-sm-2 m-2" >
                  <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="login"
                  *ngIf="!checkAuthService.isAuthenticated"
                  >Giriş Yap</a>
                </span>
                <span class="nav-link justify-content-end  mr-sm-2 m-2 ">
                  <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="register"
                  *ngIf="!checkAuthService.isAuthenticated"
                  >Kayıt Ol</a>
                </span>
                <span class="nav-link justify-content-end  mr-sm-2 m-2 ">
                  <a
                  class="nav-link active"
                  style="color: red; cursor: pointer;"
                  *ngIf="checkAuthService.isAuthenticated"
                  (click)="logout()"
                  >Çıkış Yap</a>
                </span>
          </div>
        </div>
      </nav>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col"></div>
    <div class="col-xl-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col"></div>
  </div>
</div>


<ngx-spinner name="s1" type="square-jelly-box"></ngx-spinner>
<ngx-spinner name="s2" type="ball-fall"></ngx-spinner>
<ngx-spinner name="s3" type="ball-newton-cradle"></ngx-spinner>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
<ng-template appDynamicLoadComponent></ng-template> <!--dinamik olarak yüklenecek componentin nerede yükleneceğini belirtmek için.hem yüklenecek componenti hemde templatei bir direktife bağlayıp birbirlerini tanımalarını sağlıyacağız. -->
  </div>
</div>
