<h2 mat-dialog-title>Order Details</h2>
<mat-dialog-content class="mat-typography">

  <mat-toolbar>
    <span>{{singleOrder.orderCode}}</span>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 order-detail-table">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{element.price |currency:'₺'}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let element">{{element.quantity * element.price | currency:'₺' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.order-detail-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>

  </table>

<div class="mt-4" style="text-align: right; color: red;">Total Price : {{totalPrice | currency:'₺'}}</div>
<div>
  <p><b>Order Detail Information</b></p>
  <p><b>Address :</b> {{singleOrder.address}}</p>
  <p><b>Description :</b> {{singleOrder.description}}</p>
</div>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="!singleOrder.completed" mat-button cdkFocusInitial [mat-dialog-close]="data" (click)="completeOrder()">Complete Order</button>
</mat-dialog-actions>
