<!-- SepetModal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sepet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <table class="table  table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let basketItem of listBasketItem; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{basketItem.name}}</td>
              <td>{{basketItem.price}}</td>
              <td>
                <input type="number" min="0" data-id="{{basketItem.basketItemId}}" (change)="changeQuantity($event)" [value]="basketItem.quantity" style="width: 50px; height: 30px; border: none; outline: none;" />
              </td>


            </tr>
          </tbody>
        </table>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Complete Order</button>
      </div>
    </div>
  </div>
</div>
